@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

html,body {
    -webkit-overflow-scrolling: touch;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif; /* "Roboto", "Helvetica", "Arial", sans-serif; /* 
    /* font-size: 1.8vh; */
    /* font-size: 18px; */
    position: fixed;
    width: 100%;
    overscroll-behavior: none;
    background: white;
    /* height: 100%; */
}


/** React-bootstrap List */
.list-group .active {
    color: black;
    background-color: rgba(227, 222, 222, 0.447);
    /* border-color: rgba(227, 222, 222, 0.447); */
    border-color: rgba(227, 222, 222, 0.447)
}

.list-group-item {
    padding: 0.5rem 0.5rem
}

.list-group {
    max-height: 700px;
    border-color: rgba(227, 222, 222, 0.447)
    /* border-left: solid 2px rgb(227, 222, 222); */
    /* border-right: solid 2px rgb(227, 222, 222); */
    /* border-color:transparent; */
}

.list-group-item-action:hover {
    font-weight: 700
}

.list-group-item.action {
    font-weight: 700
}


.list-group-item.active {
    font-weight: 700
}

.list-group-item.action {
    /* border-color:transparent; */
}

button:focus, 
:focus {
    outline: 0;
}


input {
    border-color: rgba(227, 222, 222, 0.447);
}

/* React-bootstrap navbar */
.lang-select.dropdown-item:active,
.lang-select.dropdown-item.active {
    background-color:  rgba(179, 177, 177, 0.317);
    color: black;
}

/* .nav-light.nav-brand:hover {
    color: grey;
} */
a:hover {
    font-weight: 700
}

.navbar {
    padding: 0.5rem 2.5rem
}

.navbar-brand {
    font-size: 1.25rem;
}

.navbar-light .navbar-toggler {
    border: none;
}
#searchOption {
    height: 100%;
}

/* Already Set in the NavbarContainer */ 
.navbar-light .navbar-nav .nav-link {
    color:black;
    padding: 0.5rem 1.5rem
} 

.navbar-light .navbar-nav .nav-link:hover {
    color: grey;
} 

/* SearchBar customized CSS */
#searchbar:hover,
#searchbar:focus-within {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.form-group {
    margin-bottom: 0;
}

.form-control:focus {
    box-shadow: none;
}


/* leaflet marker for search object*/
.leaflet-div-icon-customized {
    background: blue;
    border:5px solid rgba(255,255,255,0.5);
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
}

/* .leaflet-div-icon {
    background: transparent;
    border: 0
} */

/* React-bootstrap dropdown css */
.dropdown-toggle::after {
    display: none;
}

/* React-bootstrap Alert */
.alert-secondary {
    border: 0;
    background: rgba(143, 143, 143, 0.1);
}

.alert {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    box-shadow: 2px 5px 4px 0 #cbcbcb
}

/* React-table */
.ReactTable .rt-thead .rt-tr {
    font-weight: 500;
}

/* React-bootstrap button */
.btn-outline-secondary {
    border-color: rgb(224, 224, 224);
    font-weight: 500;
}

.btn-outline-secondary:hover {
    background-color: rgb(242, 242, 242);
    border-color: rgb(224, 224, 224);
    color: black;
}

.btn {
    font-weight: 500;
}

#searchResultForMobile {
    display: none
}