html,body {
    -webkit-overflow-scrolling: touch;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8vh;
    /* position: fixed; */
    width: 100%;
    overscroll-behavior: none    
    
}

.cmp-block{
    border: solid 2px rgba(227, 222, 222, 0.619);
    padding: 30px;
    margin: 5px;
}

.list-group .active {
    color: black;
    background-color: rgba(227, 222, 222, 0.447);
    /* border-color: rgba(227, 222, 222, 0.447); */
    border-color:transparent;
}

.list-group {
    max-height: 700px;
    /* border-left: solid 2px rgb(227, 222, 222);
    border-right: solid 2px rgb(227, 222, 222); */
    border-color:transparent;
}

:focus {
    outline: 0;
}

.list-group-item.active {
    border-color:transparent;
}

.list-group-item.action {
    border-color:transparent;
}

/* .list-group-item {
    padding-left: 20px;
    padding-top: 5px;
} */

input {
    border-color: rgba(227, 222, 222, 0.447);
}

.overflow-auto {
    overflow: scroll;
}

