html,body {
    -webkit-overflow-scrolling: touch;
    margin: 0;
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;/*'Open Sans', sans-serif;*/
    /* font-size: 1.8vh; */
    font-size: 25px;
    /* position: fixed; */
    width: 100%;
    overscroll-behavior: none;
    background: rgba(240, 240, 240, 0.187);
    height: 100%;
}

.cmp-block{
    border: solid 2px rgba(227, 222, 222, 0.619);
    padding: 30px;
    margin: 5px;
}

.list-group .active {
    color: black;
    background-color: rgba(227, 222, 222, 0.447);
    /* border-color: rgba(227, 222, 222, 0.447); */
    border-color:transparent;
}

.list-group {
    max-height: 700px;
    /* border-left: solid 2px rgb(227, 222, 222);
    border-right: solid 2px rgb(227, 222, 222); */
    border-color:transparent;
}

:focus {
    outline: 0;
}

.list-group-item.active {
    border-color:transparent;
}

.list-group-item.action {
    border-color:transparent;
}

input {
    border-color: rgba(227, 222, 222, 0.447);
}

.overflow-auto {
    overflow: scroll;
    color :rgb(16, 58, 113)
}

/* NavbarContainer customized CSS */
.lang-select.dropdown-item:active,
.lang-select.dropdown-item.active {
    background-color:  rgba(179, 177, 177, 0.317);
    color: black;
}

.nav-link.nav-brand:hover {
    color: black;
}

#searchOption {
    height: 100%;
}
/* ToggleSwitch customized CSS */
 
.switch-field {
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    padding: 20px;
    overflow: hidden;
}

.switch-title {
    font-weight: bold;
    margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    display: inline-block;
    width: 100px;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    padding: 6px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #1955a5;
    color: #fff;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
} 