@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

html,body {
    -webkit-overflow-scrolling: touch;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif; /* "Roboto", "Helvetica", "Arial", sans-serif; /* 
    /* font-size: 1.8vh; */
    /* font-size: 18px; */
    /* position: fixed; */
    width: 100%;
    overscroll-behavior: auto;
    background: white;
    /* height: 100%; */   
}

/* html element */
:focus {
    outline: 0;
}


input {
    border-color: rgba(227, 222, 222, );
}

a:hover {
    /* font-weight: 700 */
}

/** React-bootstrap List */
.list-group .active {
    color: white;
    /* background-color: #007bff; */
    /* border-color: rgba(227, 222, 222, 0.447); */
}

.list-group-item {
    padding: .1rem 0.5rem;
    border: 0;
    border-radius: 0;
    /* border-bottom: 2px solid rgba(227, 222, 222, 0.62); */
    border-bottom: 0
}

.list-group-item:last-child {
    border-bottom: none;
    border-radius: 0;
}

.list-group-item:first-child {
    border-radius: 0
}

.list-group {
    /* max-height: 700px; */
    border-radius: 0;
    /* border: 2px solid rgba(227, 222, 222, 0.62); */
    border: 0
    /* border-left: solid 2px rgb(227, 222, 222); */
    /* border-right: solid 2px rgb(227, 222, 222); */
    /* border-color:transparent; */
}

.list-group-item:active {
    border: none;
    background-color: white;
}

.list-group-item.active {
    background: white;
    color: black;
    border: rgba(227, 222, 222, 0.62);
}

.list-group-item-action:hover {
    background: rgba(227, 222, 222, 0.2)
}

.list-group-item.action {
    /* font-weight: 700 */
}
.list-group-item-action:focus, 
.list-group-item-action:hover {
    background-color: white;
}



/* React-bootstrap navbar */
.lang-select.dropdown-item:active,
.lang-select.dropdown-item.active {
    background-color:  rgba(179, 177, 177, 0.317);
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    cursor: pointer;
}

.navbar {
    padding: 0.5rem 2.5rem
}

.nav-link {
    padding: .3rem .75rem
}

.navbar-brand {
    font-size: 1.25rem;
}

.navbar-brand:hover {
    font-weight: 700;
}

.navbar-light .navbar-toggler {
    border: none;
}

/* #searchOption {
    height: 100%;
} */

/* Already Set in the NavbarContainer */ 
.navbar-light .navbar-nav .nav-link {
    color:black;
    padding: 0.5rem 1.5rem
} 

.navbar-light .navbar-nav .nav-link:hover {
    color: grey;
} 

/* SearchBar customized CSS */
#searchbar:hover,
#searchbar:focus-within {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.form-group {
    margin-bottom: 0.5rem;
}

.form-control:focus {
    box-shadow: none;
}


/* leaflet marker for search object*/
.leaflet-div-icon-customized {
    background: blue;
    border:5px solid rgba(255,255,255,0.5);
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
}

/* .leaflet-div-icon {
    background: transparent;
    border: 0
} */

/* React-bootstrap dropdown css */
.dropdown-toggle::after {
    display: none;
}

/* React-bootstrap Alert */
.alert-secondary {
    border: 0;
    background: rgba(143, 143, 143, 0.1);
    box-shadow: 2px 5px 4px 0 #cbcbcb
}

.alert {
    font-size: 1.2rem;
}

.alert-danger {
    padding: 5px 10px;
    margin-bottom: 0px;
    font-size: 1rem;
}

/* React-bootstrap button */
/** React Bootstrap button variant outline-primary */
.btn-outline-primary {
    background-color: white;
    color: rgb(0, 123, 255, 1);
    border-color: rgb(0, 123, 255, 0.6);
}

.btn-outline-primary:hover {
    background-color: white;
    color: #007bff;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    border-color: inherit
}

.btn-outline-primary:not(:disabled):not(.disabled):active, {
    color: rgb(0, 123, 255, 1);
    background-color: white;
    border-color: #007bff;
    outline: 0;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, 
.show >.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, 
.btn-outline-primary:not(:disabled):not(.disabled):active, 
.show>.btn-outline-primary.dropdown-toggle {
    background-color: white;
    color: rgb(0, 123, 255, 1);
}

/** React Bootstrap button variant outline-secondary */
.btn-outline-secondary {
    border: none;
    font-weight: 500;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, 
.show >.btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-outline-secondary:hover {
    background-color: white;
    border-color: rgb(224, 224, 224);
    color: rgb(0, 0, 0, 0.75);
}

.btn-outline-secondary:not(:disabled):not(.disabled):active {
    color: rgb(0, 0, 0, 0.6);
    background-color: white;
    border-color: rgb(0, 0, 0, 0.5);
}

/** React Bootstrap button variant outline-danger */
.btn-outline-danger {
    border: none;
    border-color: rgb(220, 53, 69, 0.8);
    color: rgb(220, 53, 69, 0.8);
}

.btn-outline-danger:hover {
    background-color: white;
    border-color: rgb(220, 53, 69);
    color: rgb(220, 53, 69);
}

.btn-outline-danger:not(:disabled):not(.disabled):active {
    color: rgb(220, 53, 69);
    background-color: white;
    border-color: rgb(220, 53, 69);
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus, 
.show >.btn-outline-danger.dropdown-toggle:focus {
    box-shadow: none;
}

/** React Bootstrap button variant outline-custom */
.btn-outline-custom {
    margin: 0 0px;
    min-width: 168px;
    background-color: white;
}

.btn-outline-custom.active {
    border: 0;
    outline: 0;
    background-color: rgb(0, 123, 255, 0.1);
    color: rgba(4, 53, 106, 1);    
}


.btn-outline-custom:active {
    border: 0;
    outline: 0;
}

.btn-outline-custom:hover {
    color: rgba(4, 53, 106, 1);
}

.btn-outline-custom {
    font-size: 18px;
}

/** React Bootstrap button variant primary */
.btn-primary:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show >.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

/** React Bootstrap button variant warning */

.btn-warning:not(:disabled):not(.disabled).active {
    color: white;
    /* background-color: rgba(0, 90, 255, 1);
    border-color: rgba(0, 90, 255, 1); */
    background-color: rgb(0, 123, 255, 1);
    border-color: rgb(0, 123, 255, 1)
}

.btn-warning:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
}

.btn-outline-grid {
    border-color: red;
}

.btn {
    font-size: 1rem;
    font-weight: 500;
    transition: none;
    padding: .3rem .75rem;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0)
}

button:focus {
    outline: 0;
}


/* SearchResult style sheet for mobile*/
.searchResultForMobile {
    display: none
}


/* React-table */
.ReactTable .rt-thead .rt-tr {
    font-weight: 500;
}
.rt-td {
    /* margin: 5px 0px */
}

/* Modal Device List Group */
.modalDeviceListGroup::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.modalDeviceListGroup::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/* Boot strap layout */
.container-fluid {
    width: 80%
}

/** React Bootstrap Modal */
.modal-body {
    padding-bottom: 0
} 

.modal-backdrop {
    z-index: 1050;
}

/** Basic html tag */
textarea {
    border-color: rgb(204, 204, 204);
    border-radius: 3px;
    padding: 5px;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

p { 
    margin-bottom: 0;
}


/** title style sheet e.g freqent search, object type*/
.title {
    font-size: 1.25rem;
    font-weight: 500;
}

/** .search result list group style sheet*/ 
.searchResultListGroup {
    /* max-Height: 55vh; */
    overflow: hidden scroll;
}

/** scroll bar customize */
/** .search option custom scroll bar style */
.searchOption::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.searchOption::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/** .addable list custom scroll bar style */
.addableList::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.addableList::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.searchResultListGroup::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.searchResultListGroup::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.customPopup .leaflet-container .leaflet-popup-scrolled::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.customPopup .leaflet-container .leaflet-popup-scrolled::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

#shiftChange::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

#shiftChange::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

