@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

html,body {
    -webkit-overflow-scrolling: touch;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
    /* font-size: 1.8vh; */
    font-size: 18px;
    /* position: fixed; */
    width: 100%;
    overscroll-behavior: none;
    background: white;
    height: 100%;
}

.cmp-block{
    border: solid 2px rgba(227, 222, 222, 0.619);
    padding: 30px;
    margin: 5px;
}

.list-group .active {
    color: black;
    background-color: rgba(227, 222, 222, 0.447);
    /* border-color: rgba(227, 222, 222, 0.447); */
    border-color:transparent;
}

.list-group {
    max-height: 700px;
    /* border-left: solid 2px rgb(227, 222, 222);
    border-right: solid 2px rgb(227, 222, 222); */
    border-color:transparent;
}

button:focus, 
:focus {
    outline: 0;
}

.list-group-item.active {
    border-color:transparent;
}

.list-group-item.action {
    border-color:transparent;
}

input {
    border-color: rgba(227, 222, 222, 0.447);
}

.overflow-auto {
    overflow: scroll;
    color :rgb(16, 58, 113)
}

/* NavbarContainer customized CSS */
.lang-select.dropdown-item:active,
.lang-select.dropdown-item.active {
    background-color:  rgba(179, 177, 177, 0.317);
    color: black;
}

.nav-link.nav-brand:hover {
    color: black;
}

#searchOption {
    height: 100%;
}

/* Already Set in the NavbarContainer */ 
.navbar-light .navbar-nav .nav-link {
    color:black;
} 

/* SearchBar customized CSS */
#searchbar:hover,
#searchbar:focus-within {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.form-group {
    margin-bottom: 0;
}


/* leaflet marker for search object*/
.leaflet-div-icon-customized {
    background: blue;
    border:5px solid rgba(255,255,255,0.5);
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
}

/* .leaflet-div-icon {
    background: transparent;
    border: 0
} */