.BOTsidenav {
    height: 100%; 
    position: fixed; 
    z-index: 1; 
    top: 10%; 
    left: 5%;
    overflow-x: hidden; 
    padding-top: 20px;
}

/* Style page content */
.BOTsidemain {
    padding: 0px 10px;
}

/* The navigation menu links */
.BOTsidenav a {
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
}

/* The navigation menu links */
.BOTsidenav a.active {
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    display: block;
}

a.anchor {
    display: block;
    position: relative;
    color: red;
    top: -100px;
    /* margin-top: -100px   */
    visibility: hidden;
}