#mapid{
    width: 100%;
    background-color: white;
}

.customPopup .leaflet-popup-tip,
.customPopup .leaflet-popup-content-wrapper {
    font-size: 30px;   
}
.customPopup .leaflet-popup-scrolled {
    overflow: hidden scroll;
    border-bottom: 0;
    border-top: 0;
}

.leaflet-popup-content {
    padding: 0;
}

.customPopup .contentBox {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

.customPopup .contentBox {
    display: flex;
    align-items: center
}

.popupRow:first-child {
    background-color: black;
}

.popupType {
    display: inline-block;
    color:rgba(50, 47, 47, 0.89);
    font-size: 16px;
    font-weight: 600;
}
.popupItem {
    display: inline-block;
    color:grey;
    font-size: 15px;
    font-weight: 500
}