

 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    html, body {
        font-size: 14px;
        position: static;
    }

    #searchMap {
        display: none;
    }

    .searchResultForMobile {
        display: inline-block
    }

    .searchResultForDestop {
        display: none;
    }

    .searchResultListGroup {
        max-Height: none;
        overflow: hidden auto;
        margin: 0 5px 0 5px;
    }

    #navbar {
        /* height: 5vh !important; */
        font-size: 0.78rem;
    }
    .navbar-brand {
        font-size: 1rem;  
    }

    .navbar img {
        width: 25px;
    }

    #mapid {
        height: 40vh;
    } 

    .modal {
        z-Index: 1080;
    }
    .modal-backdrop {
        z-index: 1070;
    }
    .notShowOnMobile {
        display: none;
    }
    .container-fluid {
        width: 100%
    }

    #mainContainer {
        height: 100%;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    html, body {
        /* font-size: 14px; */
    }

    #searchMap {
        display: none;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    #mapid {
        height: 45vh;
    } 

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    html, body {
        /* font-size: 14px; */
    }

    #navbar {
        /* height: 50px; */
        /* font-size: 14px; */
    }

    /* .navbar img {
        width: 60px;
    } */

    #mapid {
        height: 45vh;
    } 
    #searchbar {
        min-width: 200;
    }

  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    html, body {
        font-size: 16px;
    }
    #navbar {
        height: 55px;
        font-size: 14px;
    }

    #mapid {
        height: 50vh;
    } 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
    #navbar {
        height: 65px;
    }
    #mapid {
        height: 75vh;
    } 

    #changeStatusForm {
        z-Index: 1050;
        top: 10%;
        left: -10%;
        right: auto;
        bottom: auto;
        padding: 0;
    }

    #searchPanel {
        height: 90vh;
    }

    /* .searchResultListGroup {
        max-Height: 
        overflow: hidden scroll;
    } */

    /* #searchResult {
        padding-right: 1rem
    } */

    #downloadPdfRequest {
        z-Index: 1050;
        top: 10%;
        /* left: -10%; */
        right: auto;
        bottom: auto;
        padding: 0;
    }

    /* #confirmForm {
        z-Index: 1050;
        top: 10%;
        left: -10%;
        right: auto;
        bottom: auto;
        padding: 0;
    } */

}