/* CSS of searchIndexItem 
/* For touch device, 'hover' will stick to the element that user last touches.
 * To solve this, specify the css style of the element has both .activeIndex and :hover
 */
a:hover {
    color: #007bff;
}

/* .activeIndex {
    font-size: 30px;
    font-weight: bolder;
    color: #0056b3;
} */

/* .activeIndex:hover {
    color: #0056b3;
} */

