#mapid{
    width: 900px;
    height: 900px;
    background-color: white;
}

.customPopup .leaflet-popup-tip,
.customPopup .leaflet-popup-content-wrapper {
    font-size: 30px;   
}

.customPopup .contentBox {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

.customPopup .contentBox .textBox{
    display: flex;
    align-items: center
}