#mapid{
    width: 100%;
    background-color: white;
}

.customPopup .leaflet-popup-tip,
.customPopup .leaflet-popup-content-wrapper {
    font-size: 30px;   
}

.customPopup .contentBox {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

.customPopup .contentBox .textBox{
    display: flex;
    align-items: center
}

#popupContent {
    font-size: 30px;
}

#popupContent > .popupItem {
    display: inline-block;
    color:grey;
    font-size: 20px;
}