@import './core.scss';

html,body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans TC', sans-serif, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    /* font-size: 1.8vh; */
    font-size: 12px;
    position: fixed;
    width: 100%;
    overscroll-behavior: auto;
    background: white;
    /* background: #f0edf240; */
    color: $color-grey;
    letter-spacing: 1.5px;
    height: 100%;   
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

#root {
    height: 100%;
}

/* html element */
:focus {
    outline: 0;
}
::-webkit-input-placeholder {
    text-transform: capitalize
 }
 
 :-moz-placeholder { 
    text-transform: capitalize
 }
 
 ::-moz-placeholder {  
    text-transform: capitalize
 }
 
 :-ms-input-placeholder { 
    text-transform: capitalize
 }


input {
    border-color: rgba(227, 222, 222, 1);
}

a:hover {
    /* font-weight: 700 */
}

/** React-bootstrap List */
.list-group .active {
    color: white;
    /* background-color: #007bff; */
    /* border-color: rgba(227, 222, 222, 0.447); */
}

.list-group-item {
    padding: .1rem 0.5rem;
    border: 0;
    border-radius: 0;
    /* border-bottom: 2px solid rgba(227, 222, 222, 0.62); */
    border-bottom: 0
}

.list-group-item:last-child {
    border-bottom: none;
    border-radius: 0;
}

.list-group-item:first-child {
    border-radius: 0
}

.list-group {
    /* max-height: 700px; */
    border-radius: 0;
    /* border: 2px solid rgba(227, 222, 222, 0.62); */
    border: 0
    /* border-left: solid 2px rgb(227, 222, 222); */
    /* border-right: solid 2px rgb(227, 222, 222); */
    /* border-color:transparent; */
}

.list-group-item:active {
    border: none;
    background-color: white;
}

.list-group-item.active {
    background: white;
    color: black;
    border: rgba(227, 222, 222, 0.62);
}

.list-group-item-action:hover {
    background: rgba(227, 222, 222, 0.2)
}

.list-group-item.action {
    /* font-weight: 700 */
}
.list-group-item-action:focus, 
.list-group-item-action:hover {
    background-color: white;
}



/* React-bootstrap navbar */
.lang-select.dropdown-item:active,
.lang-select.dropdown-item.active {
    background-color:  rgba(179, 177, 177, 0.317);
    color: black;
}

.navbar-light .navbar-nav .nav-link {
    cursor: pointer;
}

.navbar {
    padding: 0.5rem 2.5rem
}

.nav-link {
    padding: .3rem .75rem
}

.navbar-brand {
    font-size: 1rem;
}

.navbar-brand:hover {
    /* font-weight: 700; */
}

.navbar-light .navbar-toggler {
    border: none;
}

/* #searchOption {
    height: 100%;
} */

/* already set in the NavbarContainer */ 
.navbar-light .navbar-nav .nav-link {
    color:black;
    padding: 0.5rem 1.5rem
} 

.navbar-light .navbar-nav .nav-link:hover {
    color: grey;
} 

/* searchBar customized css */
#searchbar:hover,
#searchbar:focus-within {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

/* form */
.form-group {
    margin-bottom: 0.5rem;
}

.form-control:focus {
    box-shadow: none;
}
.form-control {
    font-size: 1rem;
    /* height:  calc(1.75rem + 2px); */
}

/* .form-control:disabled {
    background-color: inherit;
    opacity: 0.6;
    font-style: italic;
} */

.form-text {
    margin-top: 0;
}

.Select-control {
    height: 20px
}


/* leaflet marker for search object*/
.leaflet-div-icon-customized {
    background: blue;
    border:5px solid rgba(255,255,255,0.5);
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
}

/* .leaflet-div-icon {
    background: transparent;
    border: 0
} */

/* React-bootstrap dropdown css */
.dropdown-toggle::after {
    /* display: none; */
    margin-left: 1rem;
}

.alert-danger {
    padding: 5px 10px;
    margin-bottom: 0px;
    font-size: 1rem;
}

/* React-bootstrap button */
/** React Bootstrap button variant outline-primary */

.btn {
    transition: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-break: keep-all;
}

.btn.btn-sm {
    padding: .1rem .3rem;
    height: 2rem;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0)
}

button:focus {
    outline: 0;
}

.btn.btn-outline-primary {
    background-color: white;
    color: $color-blue;
    border-color: rgba(0, 123, 255, 0.6);
}

.btn-outline-primary:hover {
    background-color: white;
    color: #007bff;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    border-color: inherit
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: rgba(0, 123, 255, 1);
    background-color: white;
    border-color: #007bff;
    outline: 0;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, 
.show >.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, 
.btn-outline-primary:not(:disabled):not(.disabled):active, 
.show>.btn-outline-primary.dropdown-toggle {
    background-color: white;
    color: rgba(0, 123, 255, 1);
}

/** React Bootstrap button variant outline-secondary */
.btn-outline-secondary {
    border: none;
    font-weight: 500;

}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, 
.show >.btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-outline-secondary:hover {
    background-color: white;
    border-color: rgba(92, 92, 92, 1);
    color: rgba(0, 0, 0, 0.75);
}

.btn-outline-secondary:not(:disabled):not(.disabled):active {
    color: rgba(0, 0, 0, 0.6);
    background-color: white;
    border-color: rgba(0, 0, 0, 0.5);
}

/** React Bootstrap button variant outline-danger */
.btn-outline-danger {
    border: none;
    border-color: rgba(220, 53, 69, 0.8);
    color: rgba(220, 53, 69, 0.8);
}

.btn-outline-danger:hover {
    background-color: white;
    border-color: rgb(220, 53, 69);
    color: rgb(220, 53, 69);
}

.btn-outline-danger:not(:disabled):not(.disabled):active {
    color: rgb(220, 53, 69);
    background-color: white;
    border-color: rgb(220, 53, 69);
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus, 
.show >.btn-outline-danger.dropdown-toggle:focus {
    box-shadow: none;
}

/** React Bootstrap button variant outline-custom */
.btn-outline-custom {
    margin: 0 0px;
    min-width: 168px;
}

.btn-outline-custom.active {
    border: 0;
    outline: 0;
    color: rgba(4, 53, 106, 1);    
}


.btn-outline-custom:active {
    border: 0;
    outline: 0;
}

.btn-outline-custom:hover {
    color: rgba(4, 53, 106, 1);
}

.btn-outline-custom {
    font-size: 0.8rem;
}

.btn-outline-custom {
    font-size: 0.8rem;
}

/** React Bootstrap button variant primary */
.btn-primary:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show >.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

/** React Bootstrap button variant warning */

.btn-warning:not(:disabled):not(.disabled).active {
    color: white;
    /* background-color: rgba(0, 90, 255, 1);
    border-color: rgba(0, 90, 255, 1); */
    background-color: rgba(0, 123, 255, 1);
    border-color: rgba(0, 123, 255, 1)
}

.btn-warning:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
}

.btn-outline-grid {
    border-color: red;
}

.btn.btn-outline-custom {
    font-size: 1rem;
    /* font-weight: 500; */
    transition: none;
    padding: .2rem .75rem;
}

.btn.btn-link.btn-sm {
    padding: 0;
    font-size: 0.9rem
}

button.close {
    font-weight: 400;
}


/* SearchResult style sheet for mobile*/
.searchResultForMobile {
    display: none
}


/* React-table */
.ReactTable .rt-thead .rt-tr {
    /* font-weight: 500; */
    color: black;
    font-size: 0.8rem
}

.ReactTable .rt-tr:hover .action {
    transform: scale(1.3);
}

/* .ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    background-color: red;
} */

/* .ReactTable .rt-tr:hover .rt-td {
    cursor: pointer;
} */

.ReactTable .rt-thead.-header {
    box-shadow: 0 2px 30px 0 rgba(0,0,0,0.15);
}

.rt-td {
    /* margin: 5px 0px */
}

.rt-th {
    border-right: 2px solid;
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  padding: 5px 5px;
  line-height: normal;
  position: relative;
  border-right: 3px solid rgba(0, 0, 0, 0.05);
  -webkit-transition: box-shadow .3s cubic-bezier(.175, .885, .32, 1.275);
  transition: box-shadow .3s cubic-bezier(.175, .885, .32, 1.275);
  box-shadow: inset 0 0 0 0 transparent;
}

/* Boot strap layout */
.container-fluid {
    width: 90%
}

/** React Bootstrap Modal */
.modal-body {
    padding-bottom: 0
} 

.modal-backdrop {
    z-index: 1050;
}

.modal-dialog-centered {
    top: -30%;
}

.warning {
    font-size: 0.8rem;
    text-transform: initial;
}

/** .search result list group style sheet*/ 
.searchResultListGroup {
    padding-right: 25px;
    max-height: 33vh;
    overflow:  hidden scroll; 
}

.dropdown-menu {
    padding: 0;
    margin-top: 0;
} 

.dropdownWrapper {
    padding: .5rem 0;
    right: -10%
}

/** bootstrap gutters */
.no-gutters>.col:first-child {
    padding-right: 5px;
    padding-left: 0px;
}

.no-gutters>.col:last-child {
    padding-right: 0px;
    padding-left: 5px;
}

.no-gutters>.col {
    padding-right: 5px;
    padding-left: 5px;
}

.btn.btn-light {
    background-color: inherit;
    border: none;

}
.btn.btn-light:hover {
    background-color: inherit;
    border: none;
}
.btn.btn-light:active {
    background-color: inherit;
    border: none;
}
.btn.btn-light:focus {
    background-color: inherit;
    border: none;
}

.btn-light:not(:disabled):not(.disabled).active:focus, 
.btn-light:not(:disabled):not(.disabled):active:focus, 
.show>.btn-light.dropdown-toggle:focus {
    background-color: inherit;
    box-shadow: none
}

.bot-dropdown-menu-right{
    right: 0 !important;
    left: auto !important;
}

.bot-dropdown-toggle::after {
    display: none;
}


.rw-widget>.rw-widget-container {
    height: 3rem;
    border-radius: 0px;
}

.breadcrumb {
    background: #e6e6e638;
    border-radius: 0;
    min-height: 2.5rem;
}

.breadcrumb ol{
    min-height: 2.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.breadcrumb-item a{
    color: black;
}

.breadcrumb-item.active {
    font-weight: 500;
    color: #007bff;
}


