$color-blue: rgb(0, 123, 255);
$color-grey: rgb(92, 92, 92);
$color-white: white;
$color-black: black;
$color-green: #dbf8d1;
$color-pink: #f8d7da;
$color-red: #721c24;

$font-weight-bold: 500;

$screen-xs: 576px;
$screen-sm: 790px;
$screen-md: 990px;
$screen-lg: 1200px;
$screen-xl: 1536px;
$screen-xxl: 1980px;

$webkit-scrollbar-appearance: none;
$webkit-scrollbar-width: 7px;
$webkit-scrollbar-border-radius: 4px;
$webkit-scrollbar-background: rgba(0, 0, 0, .5);
$webkit-scrollbar-box-shadow: 0 0 1px rgba(255, 255, 255, .5);

$border-grey: 1px solid #ced4da;



