// @import './core.scss';

// @media (min-width: $screen-xs) {
//     html, body {
//         font-size: 10px;
//     }

//     // .searchResultForMobile {
//     //     display: inline-block
//     // }

//     // .searchResultForDestop {
//     //     display: none;
//     // }

//     // .searchResultListGroup {
//     //     max-Height: none;
//     //     overflow: hidden auto;
//     //     margin: 0 5px 0 5px;
//     // }

//     // .modal {
//     //     z-Index: 1080;
//     // }
//     // .modal-backdrop {
//     //     z-index: 1070;
//     // }
//     // .notShowOnMobile {
//     //     display: none;
//     // }
//     // .container-fluid {
//     //     width: 100%
//     // }

//     // #downloadPdfRequest {
//     //     top: 50%;
//     //     /* left: -10%; */
//     //     /* right: auto; */
//     //     bottom: auto;
//     // }

// }

// @media (min-width: $screen-xs) and (max-width: $screen-sm) {
//     html, body {
//         font-size: 12px;
//     }

// }

// @media (min-width: $screen-sm) and (max-width: $screen-md) {
//     html, body {
//         font-size: 12px;
//     }
// }

// /* Large devices (desktops, 992px and up) */
// @media (min-width: $screen-md) and (max-width: $screen-lg) {
//     html, body {
//         font-size: 12px;
//     }
// }

// @media (min-width: $screen-lg) and (max-width: $screen-xl) {
//     html, body {
//         font-size: 14px;
//     }

//     // #searchPanel {
//     //     height: 90vh;
//     // }

//     // #downloadPdfRequest {
//     //     z-Index: 1050;
//     //     top: 10%;
//     //     /* left: -10%; */
//     //     right: auto;
//     //     bottom: auto;
//     //     padding: 0;
//     // }
// }


// @media (min-width: $screen-xl) {
//     html, body {
//         font-size: 14px;
//     }

//     // #searchPanel {
//     //     height: 90vh;
//     // }

//     // #downloadPdfRequest {
//     //     z-Index: 1050;
//     //     top: 10%;
//     //     /* left: -10%; */
//     //     right: auto;
//     //     bottom: auto;
//     //     padding: 0;
//     // }
// }