@import './core.scss';

.font-weight-500 {
    font-weight: 500;
}

.white-space-nowrap {
    white-space: nowrap;
}

.color-blue {
    color: $color-blue;
}

.color-white {
    color: $color-white;
}

.min-width-25 { 
    min-width: 25px;
}